@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  background-color: #F8F8F8;
}

.intro{
	width: 100%;
	height: 100%; 
	margin: 0 auto;
	display: table;
  background-image: url("img/umich.jpg");
	top: 0;
	background-size: cover;
}

.card-overlay {
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.72);
}

.corner_image{
  width:20%;
  height:20%;
  margin-right:5px;
  position:relative;
  float:left;
}

.letters{
  position: absolute;
  color: #fff;
  font-size: 400%;
  transform: translateX(-50%) translateY(-50%);
}

.about_us{
  width: 100%;
  margin: 0 auto;
  display: table;
  background-color: #F8F8F8;
  top: 0;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.society{
  width: 100%;
  margin: 0 auto;
  display: table;
  background-color: #371e1c;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.brotherhood{
  width: 100%;
  margin: 0 auto;
  display: table;
  background-color: #2d2d2d;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.rememberance{
  width: 100%;
  margin: 0 auto;
  display: table;
  background-color: #273329;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.FAQ{
  width: 100%;
  margin: 0 auto;
  display: table;
  background-color: #fff;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.FAQ p{
  font-size: 95%;
  font-family: 'Circular Std Book';
}

p{
  font-size: 105%;
  font-family: 'Circular Std Book';
}

.card-overlay h1{
  font-size: 400%;
  padding-top: 20%;
}

.card-overlay p{
  font-size: 200%;
}

.pillars{
  width: 655px;
  margin: auto;
  font-size: 120%;
  color: #fff;
}

